{% extends "layout.html" %}

{% block body %}

    <!--login form-->
    <div class="container center">
        <form method="post">
            <div class="form-row">
                <div class="form-group col-md-6">
                    <label for="user">Username</label>
                    <input class="form-control" name="username" placeholder="username">
                </div>
                <div class="form-group col-md-6">
                    <!--password input field-->
                    <label for="pass">Password</label>
                    <input type="password" class="form-control" name="password" placeholder="password">
                </div>
            </div>

            <div class="form-group">
                <button class="btn btn-primary">Signup</button>
            </div>
        </form>
    </div>
{% endblock %}